@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Noto Sans KR", "Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  }
}

.sidebar-container {
  @apply fixed top-0 left-0 z-20 flex-col flex-shrink-0 pt-12 w-60 h-full duration-200;

  /* @apply z-20 flex-shrink-0 w-60 h-full duration-200; */
}

.slide-right-enter-from,
.slide-right-leave-to {
  transform: translateX(-100%);
}
.slide-right-enter-to,
.slide-right-leave-from {
  transform: translateX(0);
}
.slide-right-enter-active,
.slide-right-leave-active {
  transition: all .3s ease-in-out;
}

.mainContent {
  transition: all .3s ease-in-out;
}